.movie-library__list {
  margin: 0;
  padding: 70px 0 10px 0;
  list-style-type: none;
}

.movie-library__btn {
  margin: 0 auto 80px;
  display: block;
  width: 320px;
  height: 36px;
  background: #f9f9f9;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: background 0.3s ease;
}

.movie-library__btn:hover {
  background: #2be080;
}

@media (max-width: 672px) {
  .movie-library__list {
    padding: 40px 0 20px 0;
  }

  .movie-library__btn {
    width: 240px;
  }
}
