.profile {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 74px 0 70px 0;
  box-sizing: border-box;
}

.profile__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 123px 0;
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  width: 85%;
  border: none;
  outline: none;
  text-align: right;
  font-size: 11px;
}

.profile__input::placeholder {
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  opacity: 0.7;
}

.profile__input:disabled {
  background-color: #ffffff;
}

.line_form {
  background: #e8e8e8;
  margin: 16px 0;
}

.profile__input-textError {
  color: #ee3465;
  font-size: 10px;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 16px;
  text-align: end;
  transition: opacity 0.3s ease;
}

.profile__input-textError_active {
  opacity: 1;
}

.profile__text-statusReq {
  opacity: 0;
  font-size: 11px;
  color: #2be080;
  margin: 220px 0 20px 0;
  transition: opacity 0.3s ease;
}

.profile__text-statusReq_active {
  opacity: 1;
}

.profile__edit {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.profile__edit:hover {
  color: #2be080;
}

.profile__edit-save {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  color: #ffffff;
  background: #3456f3;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.profile__edit-save:hover {
  opacity: 0.8;
}

.profile__edit-save_disabled {
  background: #f9f9f9;
  cursor: inherit;
}

.profile__exit {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #ff3055;
  margin: 16px 0 0 0;
  transition: text-shadow 0.3s ease;
}

.profile__exit:hover {
  text-shadow: #ff3055 1px 0 10px;
}

@media (max-width: 500px) {
  .profile__form {
    width: 100%;
  }
}
