.search {
  padding: 70px 0 47px 0;
  box-sizing: border-box;
}

.search__wrapper {
  position: relative;
}

.search__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 13px;
  outline: none;
  justify-content: space-between;
}

.search__input::placeholder {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #a0a0a0;
}

.search__input:focus {
  outline: solid #2be080;
  border-radius: 5px;
}

.search__btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: url('../../images/logo/search_logo.svg') center center / 15px no-repeat;
  background-color: #3456f3;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 13px;
  transition: background-color 0.3s ease, background-size 0.3s ease;
}

.search__btn:hover {
  background-color: #2be080;
  background-size: 20px;
}

.search__btn_disabled,
.search__btn_disabled:hover {
  background-color: #a0a0a0;
  cursor: unset;
  background-size: 15px;
}

.search__text-error {
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  color: #ee3465;
  font-size: 10px;
  transition: opacity 0.3s ease;
}

.search__text-error_active {
  opacity: 1;
}

@media (max-width: 768px) {
  .search {
    padding: 80px 0 60px 0;
  }

  .search__input {
    margin-bottom: 30px;
  }
}

@media (max-width: 672px) {
  .search {
    padding: 90px 0 50px 0;
  }

  .search__wrapper {
    margin: 0 4px;
  }

  .search__input {
    margin-bottom: 40px;
  }

  .search__input::placeholder {
    font-size: 18px;
    line-height: 22px;
  }
}
